<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>DB종합병원</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />
<style>
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.login-card {
	position: relative;
	margin-top: 20px;
}
</style>
<link rel="stylesheet" href="assets/css/chartPopup.css" />
</head>
<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="index.html" class="logo"><strong>DB종합병원</strong></a>
			<nav id="nav">
				<a href="login.html">Log In</a> <a href="chartsearching.html">차트조회</a>
				<a href="reservation.html">예약확인</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span
				class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner">

		<div class="login-card">
			<h1 style="color: #4bae77">Log-in</h1>
			<br>
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<form th:action="@{/login}" method="post">
				<input type="text" name="username" placeholder="Username"> <input
					type="password" name="password" placeholder="Password"> <input
					type="submit" name="login" class="login login-submit" value="login">
			</form>

			<div class="login-help">
				<a href="#">Register</a> • <a href="#">Forgot Password</a>
			</div>
		</div>
	</section>
	<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->


	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
